<%=render :layout => "form" do %>

<section>
<h5>Initial Leave Balances</h5>
  <label for="CL">Casual Leave</label>
  <%= f.text_field :emp_id, :size=>'20' %><br/><br/>

  <label for="SL">Sick Leave</label>
  <%= f.text_field :emp_id, :size=>'20' %><br/><br/>

  <label for="EL">Earned Leave</label>
  <%= f.text_field :emp_id, :size=>'20' %><br/><br/>

  <label for="OH">Optional Holidays</label>
  <%= f.text_field :emp_id, :size=>'20' %><br/><br/>
</section>

<% end %>
