<table id="rt_employees">
    <tbody>
         <tr>
             <th>Emp id</th>
             <th>Lastname</th>
             <th>Firstname</th>
             <th>Date of Joining</th>
             <th>Designation</th>
             <th>Manager</th>
         </tr>
     <% @employees.each do |emp| %>
         <tr id="emp_<%=emp.emp_id%>">
           <td><%= link_to emp.emp_id, edit_employee_path(emp) %></td>
           <td><%=emp.last_name%></td>
           <td><%=emp.first_name%></td>
           <td><%=emp.doj.strftime("%d-%b-%Y")%></td>
           <td><%=emp.designation%></td>
           <td><%=link_to emp.manager_name, employee_path(Employee.find_by_emp_id(emp.manager_emp_id))%></td>
        </tr>
     <% end %>
   </tbody>
</table>


            
 
